<!DOCTYPE html>
<html lang="en">

<head>
    <title>Điểm thi - <%= id %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q"
        crossorigin="anonymous">
    <style>
        .spinner {
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
        }
        
        .spinner>div {
            background-color: #333;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        
        .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        
        .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        
        .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        
        .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
        
        @-webkit-keyframes sk-stretchdelay {
            0%,
            40%,
            100% {
                -webkit-transform: scaleY(0.4)
            }
            20% {
                -webkit-transform: scaleY(1.0)
            }
        }
        
        @keyframes sk-stretchdelay {
            0%,
            40%,
            100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }
            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
        #table td, #table th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <h1 class="text-center">Điểm thi SVDBCL (<%=id%>)</h1>
    <div class="container">
        <div id="spinners" class="spinners">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="table" class="table table-hover table-bordered" style="display: none;">
                <thead>
                    <tr>
                        <th rowspan="2">Môn học</th>
                        <th rowspan="2">Điểm tổng kết</th>
                        <th colspan="2">Lần 1</th>
                        <th colspan="2">Lần 2</th>
                    </tr>
                    <tr>
                        <th>Thi</th>
                        <th>Tổng kết</th>
                        <th>Thi</th>
                        <th>Tổng kết</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/jquery@1"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $.get('/student/diemthi/<%= id %>.json', (data) => {
            const $tbody = $('#table tbody');
            $('#table').hide(); $('#spinners').show();
            $tbody.empty();
            data.forEach((item) => {
                $tbody.append(
                    '<tr>' +
                    '<td style="text-align: left">' + item.name + '</td>' +
                    '<td>' + item.mark + '</td>' +
                    '<td>' + item.first.mark + '</td>' +
                    '<td>' + item.first.final + '</td>' +
                    '<td>' + item.second.mark + '</td>' +
                    '<td>' + item.second.final + '</td>' +
                    '</tr>'
                );
            });
            $('#table').show(); $('#spinners').hide();
        });
    </script>
</body>

</html>