/**
 * Import googles fonts
 */

@import url('https://fonts.googleapis.com/css?family=Pattaya|Source+Sans+Pro&subset=vietnamese');

/**
 * Normalize.css
 */

@import url('https://unpkg.com/normalize.css@5.0.0/normalize.css');
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
}

.logo {
    height: 240px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #48BEFE;
}

.content {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: #222;
    text-align: center;
    padding: 5px;
    color: #666;
}

footer>.copyrights {
    font-size: 10pt;
}

footer>.copyrights a {
    color: #AAA;
}